---
title: 'This is my Site Title'
---
<!DOCTYPE html>
<html>
<head>
  <title>Site Title {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.url}}{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href="{{site.url}}{{site.atom_path}}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <script src="http://cdnjscn.b0.upaiyun.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/js/jquery-tapir.min.js"></script>

</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr'>
            <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Blog</a>
            <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
            <a href='//github.com/prose/starter'>Fork on GitHub</a>
          </div>
          <form class="navbar-search pull-right" action="search.html">
              <input type="text" class="search-query" placeholder="Search">
          </form>
          <h1 class='title'><a href='{{site.url}}{{site.baseurl}}/'>{{page.title}}</a></h1>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.url}}{{site.baseurl}}/site.js'></script>
</body>
